body {
    background-image: linear-gradient(to bottom, #a6c0fe, #f68084);
    background-attachment: fixed;
    background-size: cover;
    margin:0;
}
.site-header {
    color: white;
    height: 100vh;
    font-family: monospace;

    /*Note that flex works only for first child(s) of site-header here*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    color: white;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-self: center;
    box-shadow: #403b3b 2px 2px 5px;
}

.site-header-content{
    margin:10px;
}